<div>
  <div class="p-3 title">
    Gerenciamento de Senhas
  </div>
  <div class="p-3">
    <table class="table table-hover mat-elevation-z4">
      <thead>
        <tr>
          <th>Fila</th>
          <th>
            <div class="container-text-icon">
              Pessoa na Fila <i class="material-icons">boy</i>
            </div>
          </th>
          <th>Última Chamada</th>
          <th>Última Emitida</th>
          <th>Chamar Senhas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let infoSenha of controleSenhas">
          <td>{{infoSenha.nome}}</td>
          <td>{{infoSenha.esperando}}</td>
          <td>{{infoSenha.ultimaChamada}}</td>
          <td>{{infoSenha.ultimaEmitida}}</td>
          <td>
            <button class="btn btn-primary container-text-icon">
              <span class="mr-5">Chamar Próxima Senha</span> <i class="material-icons">volume_up</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
