<div>
  <div class="p-3 title">
    Gerenciamento de Senhas
  </div>
  <div class="p-3">
    <table class="table table-hover mat-elevation-z4">
      <thead>
        <tr>
          <th>Fila</th>
          <th>Última Chamada</th>
          <th>Chamar Senhas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of filas">
          <td>{{fila.nome}}</td>
          <td>{{fila.ultimaChamada}}</td>
          <td>
            <button class="btn btn-primary container-text-icon" (click)="chamarProximaSenha(fila.id)">
              <span class="mr-5">Chamar Próxima Senha</span> <i class="material-icons">volume_up</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
