<body>
  <header>
    <mat-toolbar class="mat-elevation-z2" style="background-color: #535981;">
      <span>Senhas Chamadas</span>
    </mat-toolbar>
  </header>
  <main>
    <div class="row">
      <div class="col-sm-8 info-position">
        <div class="format-text-senha">
          <label>Senha</label>
          <p>{{ultimaEmitida.fila.prefixo + " " + ultimaEmitida.numeroSenha.toString().padStart(ultimaEmitida.fila.senhaMaxima.toString().length, "0")}}</p>
          <label>{{ultimaEmitida.guiche.name}}</label>
          <p>{{ultimaEmitida.guiche.id}}</p>
        </div>
      </div>
      <div class="col-sm-4 info-position label-ultimas-senhas">
        <div class="subtitle">
           <label >Últimas senhas chamadas</label>
        </div>
        <div class="container-ultimas-senhas" *ngFor="let senha of senhasChamadasAux.reverse()">
          <div class="flex-container">
            <p>Senha</p>
            <p class="ml-auto">{{senha.fila.prefixo + " " + senha.numeroSenha.toString().padStart(senha.fila.senhaMaxima.toString().length, "0")}}</p>
          </div>
          <div class="flex-container">
            <p>{{senha.guiche.name}}</p>
            <p class="ml-auto">{{senha.guiche.id}}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
