<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="65">
    <mat-nav-list>
      <a mat-list-item routerLink="/setores" routerLinkActive="active"><i class="material-icons mr-5">home</i>Início</a>
      <a mat-list-item routerLink="/setores/fila" routerLinkActive="active"><i class="material-icons mr-5">airline_seat_recline_normal</i>Filas</a>
      <a mat-list-item routerLink="/setores/atendente" routerLinkActive="active"><i class="material-icons mr-5">group</i>Atendente</a>
      <a mat-list-item routerLink="/painel-chamada" target="_blank"><i class="material-icons mr-5">pin</i>Painel de Chamada</a>
      <a mat-list-item routerLink="/painel-emissao" target="_blank"><i class="material-icons mr-5">touch_app</i>Painel de Emissão</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
